CalEval-3.2.1/data-INRIA/
CalEval-3.2.1/data-USA/
CalEval-3.2.1/data-Daimler/
CalEval-3.2.1/data-ETH/
CalEval-3.2.1/data-TudBrussels/

CalEval-3.2.1/results/

CalEval-3.2.1/toolbox/videos/private/*png*.*
CalEval-3.2.1/toolbox/videos/private/*jpg8c.*
CalEval-3.2.1/toolbox/detector/models/*Dets.txt


